body {
	border-top:4px solid #f8695a;
    background-color:#1a2325;
    margin:0px;}


header{
	margin-right: auto;
    margin-left: auto;
    width:1200px;}

.page{
	visibility: hidden;
	color:#1a2325}

.heading{
    font-size:36px;
	font-family:"Quatro Slab";
	color:white;
	font-weight:200;
	width:350px;
    font-weight:lighter;
    padding-bottom:30px;
	position:static;}

.logo{
	margin:-1px;}

.product-size{
	color: #555a5b;
	font-family: LFT Etica;
	font-style: book;
	font-size: 16px;
	line-height: 18px;
	padding-top: 8pt;
	padding-bottom: 24px;}

.description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#abadad;
	width:360px;
	line-height: 23px;
	font-weight:lighter;
	padding-bottom:10px;}

.how-its-made{
	font-size:16px;
	font-family:"LFT Etica";
	color:#01bfc1;
	text-decoration:none;
	padding:10px 40px 32px 0px;
	font-weight:lighter;
	display:inline-block;}

.price{
	font-family:"Quatro Slab";
	color:white;
	font-size:24px;
	font-weight:200;
	padding-top:40px;
	display:inline-block;}

.button{
	color:white;
	font-family:"LFT Etica";
	text-transform:uppercase;
	background-color:#01ccce;
	border:.5px solid #4dd9da;
	padding: 11px 30px 11px 30px;
	margin-left:20px;
	width:175px;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	background: #01ccce;}

.div {
	border-top:1px dotted #31393b;
	width:350px;}

.image{
	position:absolute;
	right:30px;
	top:95px;
	padding-bottom:150px;}

a :hover{
  color:#f8695a;}

section{
	margin-right: auto;
    margin-left: auto;
    width:1200px;
    padding-top:100px;
    position:relative;}

section:not(:last-child){
	padding-bottom:380px;
	border-bottom:1px solid #31393b;}


.price,.button{
	margin-top:90px;
 	display:inline-block;}

.image{
	float: right;
	clear: both;
	padding-left: 60px;}

.dotted-border{
	border-bottom: 0.5px dotted #abadad;
	width:370px;
	margin-top:25px;}

.solid-border{
	border: 0.1px solid #abadad;
	margin: 360px 8px 0 0;}

.image{
	float:right;
	clear:both;
	padding-top:100px;
	margin: 45px 30px 0 100px;}


.heading, .image{
	display:inline-block;
	vertical-align:top;}


